body.dark-theme {
  background-color: #222222;
  color: #ffffff;
}
.add-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-field input[type="text"],
  .form-field input[type="date"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
  }
  
  .add-card-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  